<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>        
        <td>{{name}}</td>
        <td>Uppercase</td>
        <td>{{name | uppercase}}</td>
      </tr>

      <tr>        
        <td>{{name}}</td>
        <td>Lowercase</td>
        <td>{{name | lowercase}}</td>
      </tr>

      <tr>        
        <td>{{name}}</td>
        <td>Slice:3</td>
        <td>{{name | slice:3}}</td>
      </tr>

      <tr>        
        <td>{{name}}</td>
        <td>Slice:0:3</td>
        <td>{{name | slice:0:3}}</td>
      </tr>

      <tr>        
        <td>Arreglo - {{array}}</td>
        <td>Slice:0:5</td>
        <td>{{array | slice:1:5}}</td>
      </tr>

      <tr>        
        <td>{{pi}}</td>
        <td>(number - decimal) PI  '3.0-0'  Solo los tres primeros números</td>
        <td>{{pi | number:'3.0-0'}}</td>
      </tr>

       <tr>        
        <td>{{pi}}</td>
        <td>(number - decimal) PI  '1.0-2'  1 entero y dos decimales</td>
        <td>{{pi | number:'1.0-2'}}</td>
      </tr>

      <tr>        
        <td>{{percent}}</td>
        <td>(percent) Porcentaje '2(Enteros).2(Minimo 2 decimales)-2(Maximo 2 decimales)'</td>
        <td>{{percent | percent:'2.2-2' }}</td>
      </tr>

      <tr>        
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>

      <tr>        
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>

    </tbody>
  </table>


  <h4>Slice Ul (del 1 al 5)</h4>
  <ul>
    <li *ngFor="let i of array | slice:1:5">
      {{i}}
    </li>
  </ul>
</div>
